<div class="container">
  <h1>CREATE A NEW COCKTAIL</h1>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url, placeholder: "https://kitt.lewagon.com/placeholder/cities/shanghai" %>

    <%= f.submit "add a cocktail", class: "btn btn-primary" %>
  <% end %>


</div>
